body {
    font-family: "Segoe UI";
    background-color: #f3f3fe;
    margin: 0 auto;
}

header{
	position: relative;
    background-color: #586EE9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.profile-picture{
	display: flex;
	justify-content: center;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: #586EE9;
    border-style: solid;
}

.nav-items{
    float: right;
}

a{
    display: block;
    color: white;
    padding: 0px 16px;
    text-decoration: none;
}

li {
    display: inline-block;
}

.main{
    text-align: center;
}

label {
    display: block;
}

label,
input,
textarea {
    margin-bottom: 1rem;
    width: 100%;
}

form {
    width: 100%;
    max-width: 32rem;
    padding-left: 2rem;
}