<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Hurtigen{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<nav>
			<header>
				<ul>
					<li>	
						<a href="/"><h1 class="title">Hurtigen</h1></a>
					</li>
					<div class="nav-items">	
						<li>
							<a href="/profile"><h2>Profile</h2></a>
						</li>
						<li>
							<a href="/settings"><h2>Settings</h2></a>
						</li>
						<li>
							<a href="/contact"><h2>Contact us</h2></a>
						</li>
						<li>
							<a href="/secret_page"><h2>Secret room</h2></a>
						</li>
					</div>
				</ul>
			</header>
		</nav>
		{% block content %} {% endblock %}
	</body>
</html>