{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<h2>Password</h2>
<form action="{{ url_for('secret_page') }}" method="post">
{% if form.errors %}
<p class="errors">Please correct the password</p>
{% endif %}
    <div>
        {{ form.password.label }}
        {% if form.errors.password %}
        <ul class="errors">
        	{% for error in form.errors.password %}
        	<li> {{ error }} </li>
        	{% endfor %}
        </ul>
        {% endif %}
        {{ form.password }}
    </div>
    <button type="submit">Submit</button>
</form>

{% endblock %}